<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="999999" />
		</connectionManagement>
	</system.net>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
	<appSettings>
		<!-- Use AppRegNew.aspx and AppInv.aspx to register client id with secret -->
		<add key="ClientId" value="850e0eec-9575-48b0-9fd2-5d57f9948ad3" />
		<add key="ClientSecret" value="PMgY1L6pJXABpdB/lF0Ek/HU/Su15hVqw67Dz4hh5SM=" />
		<add key="ClientSigningCertificatePath" value="C:\SharePoint\mmoustafa.onmicrosoft.com.pfx" />
		<add key="ClientSigningCertificatePassword" value="Opentext1!" />
	</appSettings>
</configuration>